* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
  width: 800px;
}

aside {
  border-right: 1px solid #111;
  padding: 10px 20px;
  width: 250px;
}

button {
  background-color: #fff;
  border: solid 1px #111;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

main {
  flex: 1;
  padding: 10px 20px;
}

h2 {
  border-bottom: 1px solid #111;
  display: flex;
  font-weight: 300;
  justify-content: space-between;
  margin: 0 0 20px;
  padding-bottom: 10px;
}

h3 {
  background-color: #fff;
  border-bottom: 1px solid #111;
  display: flex;
  font-weight: 300;
  justify-content: space-between;
  margin: 20px 0 0;
  padding: 10px;
}

.person {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}
